@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
/* .two-column-layout {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr; 
    gap: 16px; 
  } */
  
  @media (min-width: 640px) { 
    .two-column-layout {
      grid-template-columns: 1fr 1fr; 
    }
  }
  
  @media (min-width: 768px) { 
    .two-column-layout {
      grid-template-columns: 1fr 1fr;
    }
  }
  